h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.orenge-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 80%;
}